
{%  extends 'covid19/base.html' %}
{% load static %}
{% block content %}
    <header class="bg-primary py-5 mb-5">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-lg-12">
              <h1 class="display-4 text-white mt-5 mb-2">Covid19 Insight</h1>
              <img src="{% static 'images/doctor.png'%}" alt="" class="float-right">
              <p class="lead mb-5 text-white-50">We are trying to figure out how possibily that you are going to be infected by covid19</p>
            </div>
          </div>
        </div>
      </header>
    
      <!-- Page Content -->
      <div class="container">
    
        <div class="row">
          <div class="col-md-8 mb-5">
            <h2>What we do</h2>
            <hr>
            <p>We are here to help you to identify yourself whether you are infected by COVID19.</p>
            <p>We're trying to spread awareness of how serious COVID19 is, along with many more related information such as up to dates news, symptoms analysis and hospital details for you to get in touch with if you ever wondering you self infected by COVID19. </p>
            <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
          </div>
          <div class="col-md-4 mb-5">
            <h2>Contact Us</h2>
            <hr>
            <address>
              <strong>NAVIN & HUAMENG</strong>
              <br>Kirirom Institute of Technology
              <br>Kompong Speu, Cambodia
              <br>
            </address>
            <address>
              <abbr title="Phone">TEL:</abbr>
              (XXX) XXX-XXXX
              <br>
              <abbr title="Email">EMAIL:</abbr>
              <a href="mailto:#">seab.navin@kit.edu.kh</a>
              <br><a href="mailto:#">lim.huameng19@kit.edu.kh</a>
            </address>
          </div>
        </div>
        <!-- /.row -->
    
        <div class="row">
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <!-- <img class="card-img-top" src="https://placehold.it/300x200" alt=""> -->
              <iframe width="350" height="200" src="https://www.youtube.com/embed/Qb99itJeFQg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-body">
                <h4 class="card-title">ពត៍មានថ្មីៗ</h4>
                <p class="card-text">សន្និសីទសារព័ត៍មានស្តីពីច្បាប់ស្តីពីវិធានការទប់ស្កាត់ការរាលដាលជំងឺកូវីដ-១៩​ និងជំងឺឆ្លងកាចសាហាវ​ នាព្រឹកថ្ងៃទី១៥​ ខែមីនា​ ឆ្នាំ២០២១៖</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary">See More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <img class="card-img-top" src="https://scontent.fpnh10-1.fna.fbcdn.net/v/t1.0-9/158957015_3849194771786267_8523857488121881603_n.jpg?_nc_cat=1&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=affEhMRx0bUAX9CQfvI&_nc_ht=scontent.fpnh10-1.fna&oh=428a2b6431861e44eb25527c742a11ee&oe=6073321D" alt="">
              <div class="card-body">
                <h4 class="card-title">ករណីថ្មីៗ</h4>
                <p class="card-text">ថ្ងៃទី១៤​ ខែមីនា​ ឆ្នាំ២០២១​ មានករណីវិជ្ជមានវីរុសកូវីដ-១៩​ ថ្មីចំនួន​ ២០នាក់​ និងមានអ្នកជាសះស្បេីយចំនួន​ ៨៣នាក់៖</p>
              </div>
              <div class="card-footer">
                <a href="https://www.facebook.com/895661983806242/posts/3849195011786243/?d=n" class="btn btn-primary">See More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <img class="card-img-top" src="https://placehold.it/300x200" alt="">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary">See More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
    
      </div>
      <!-- /.container -->
    
      
        <!-- /.container -->
      </footer>
      {% endblock %}

    